{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuentas Claras</title>
    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body class="bg-primary-accent text-primary-dark">

    <!-- Navbar -->
    <nav class="bg-primary text-neutral py-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center gap-4">
              <img src="{% static 'img/logo.png' %}" alt="Logo CuentasClaras"
                  class="h-16 w-16 md:h-20 md:w-20">
              <h1 class="text-2xl text-neutral font-bold">CUENTAS CLARAS</h1>
            </div>
            <div class="text-2xl text-neutral font-bold"></div>
            <ul class="flex space-x-6">
                <li><a href="{% url 'home' %}" class="hover:text-neutral-dark text-neutral">Inicio</a></li>
                <li><a href="#" class="hover:text-neutral-dark text-neutral">Servicios</a></li>
                <li><a href="#" class="hover:text-neutral-dark text-neutral">Simulador</a></li>
                <li><a href="#" class="hover:text-neutral-dark text-neutral">App CuentasClaras</a></li>
                <li><a href="#" class="hover:text-neutral-dark text-neutral">Ayuda</a></li>
            </ul>
            <a href="#" class="bg-secondary rounded-full text-neutral py-2 px-4 rounded hover:bg-primary">Crear Cuenta</a>
        </div>
    </nav>

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <!-- <footer class="bg-primary text-neutral py-6">
        <div class="container mx-auto text-center">
            <p>&copy; 2025 CuentasClaras. Todos los derechos reservados.</p>
        </div>
    </footer> -->

</body>
</html>

