{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - CuentasClaras{% endblock %}

{% block content %}
<section class="bg-primary-light py-20 text-neutral-white">
    <div class="container mx-auto flex flex-col md:flex-row items-center">
        <div class="md:w-1/2 text-center md:text-left">
            <h1 class="text-4xl font-bold mb-6 font-title">¡Bienvenido a Cuentas Claras!</h1>
            <p class="text-lg mb-6">
                Aquí transformamos los problemas de pagos desiguales en soluciones simples y eficientes. Con nuestra plataforma, podrás organizar tus gastos de manera justa, equitativa y con tan solo un clic. ¡Haz que cada pago cuente!
            </p>
            <div class="flex justify-center md:justify-start space-x-4">
                <a href="{% url 'input_data' %}" class="bg-secondary text-neutral-white py-2 px-4 rounded-full hover:bg-secondary-dark">Simular Gastos</a>
                <a href="#" class="bg-secondary text-neutral-white py-2 px-4 rounded-full hover:bg-secondary-dark">Crear Cuenta</a>
            </div>
        </div>
        <div class="md:w-1/2 mt-10 md:mt-0">
            <img src="{% static 'img/Pagar_la_cena.jpg' %}" alt="Personas compartiendo cuentas en un restaurante" class="rounded-lg shadow-lg">
        </div>
    </div>
</section>

<section class="py-40 bg-primary-accent relative">
  <div class="absolute inset-0">
      <img src="{% static 'img/flechas_saliendo_pantalla.jpg' %}" alt="Gráfica en pantalla" class="w-full h-full object-cover opacity-50 blur-sm">
  </div>
  <div class="container mx-auto relative z-10 text-center">
      <div class="bg-secondary text-neutral-white py-4 px-8 rounded-full inline-block shadow-md hover:bg-secondary-dark">
          <a href="{% url 'input_data' %}" class="text-xl font-bold">Simular Gastos</a>
      </div>
  </div>
</section>
{% endblock %}

